<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntermediaryService" maxReceivedMessageSize="1000000" />
        <binding name="BasicHttpBinding_IMonitoringService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/IntermediaryWS" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIntermediaryService"
        contract="VelibSOAP.IIntermediaryService" name="BasicHttpBinding_IIntermediaryService" />
      <endpoint address="http://localhost:8080/Monitoring" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMonitoringService" contract="Monitoring.IMonitoringService"
        name="BasicHttpBinding_IMonitoringService" />
    </client>
  </system.serviceModel>
</configuration>